{
  "CookieSecret": "some-secret-string",
  "Facebook": {
    "ClientId":     "",
    "ClientSecret": "",
    "AuthURL":      "https://graph.facebook.com/oauth/authorize",
    "TokenURL":     "https://graph.facebook.com/oauth/access_token",
    "RedirectURL":  "http://your.site.com/facebook_authorized"
  }
}
